* {
  margin: 0;
}

.barchart_wrap {
  width: 1000px;
  height: 200px;
  background-color: orangered;
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-gap: 1px;
  align-items: flex-end;
}
.barchart_wrap > * {
  background-color: #007829;
  width: 10px;
}
.barchart_wrap :nth-child(odd) {
  background-color: #002c0f;
}
